<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238458199821-mb3429kuvfkg1q4nbq5mfsvqhvflcbv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238458199821-mb3429kuvfkg1q4nbq5mfsvqhvflcbv7</string>
	<key>API_KEY</key>
	<string>AIzaSyBNpx2GIbxZbTudkbw750slYb0px4nksSA</string>
	<key>GCM_SENDER_ID</key>
	<string>238458199821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hakanurtimur.forfunTeller</string>
	<key>PROJECT_ID</key>
	<string>forfun-teller</string>
	<key>STORAGE_BUCKET</key>
	<string>forfun-teller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238458199821:ios:318781575031cafe27da44</string>
</dict>
</plist>